*{margin: 0;
padding:0;
box-sizing: border-box;
}
.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}
 nav{display: flex;
    justify-content:space-between;
    padding:16px 120px;
    margin:5px auto;}
.logo{height:60px; width:139px;}
 nav ul{display: flex;
    list-style-type: none;
    gap:30px;
    margin:5px auto;
    text-align: center;
justify-content: space-between;}
   a{text-decoration: none;
    font-weight: bold;
color: #000;}
   .btn{color: white;
    font-weight: bold;
    background-color:#23874d;
     height: 44px;
    width:164px;
    border: none;
 border-radius: 4px;
  padding:12px,16px;} 
.banner { 
    display: flex;
    flex-flow: column;
    padding-top:115px;
    align-items: center;
   text-align: center;
  margin: 0 auto;
    background-image:url(../image/hero-bg.png);
     width: 1600px;
    height: 674px; 
   background-size:cover;}
   
 .banner h1{color: white;
    font-style: normal;
    font-weight:700;
    font-size: 70px;
    margin:0 auto;}

     .banner p{
        color: white;
    font-style: normal;
    font-size: 16px;
    margin:0 auto;
    text-align: center;
     }
 .banner #button1{color:#30b868;
    font-weight: bold;
    background-color:white;
    height: 35px;
    width:229px;
    border: none;
 border-radius:1000px;
 padding:12px,16px;
 text-align: center;
align-items: center;
}
.banner .gapbtn{display: flex;
    justify-content: center;
     gap:15px;}
 .banner #button2{color: white;
    font-weight: bold;
    padding:auto ;
    background-color: rgb(66, 143, 99);
    height:51px;
    width:251px;
    border: none;
 border-radius: 4px;
 padding:12px,16px;}
  .banner #button3{
    color: white;
border-radius: 4px;
background: none; 
border: 2px solid white;
height:51px;
width:230px;} 
.note{
    display:block;
    text-align: center;
    background-color:rgb(246, 243, 243);
}
.note .card{ display: flex;
     justify-content: space-around;
    gap: 20px;
    border: 2px solid white;
    background-color: white ;
border-radius: 3px;}

.brain{
    height: 840px;
    width: 1600px;
    margin: 0 auto;
    padding: 120px;
    display:flex;
    gap: 60px;
    justify-content:center;}

.braintxt {height: 390px;
width:760px;
 padding:80px;}
.braintxt p{color: #627382;
font-weight:400;}

.braintxt h1{ color: black;
font-size: 48px;
font-weight: 700;}
.braintxt ul{
    list-style-image: url(../image/CheckCircle.png);
    padding-left: 20px;
}
.brainimg{
   height: 600px;
    width:600px; 
    border-radius: 12px;}
.last{height:384px ;
    width: 1360px;
     margin: 0 auto;
     padding:80px 40px 80px 40px;
    background-color: #f7f6f2;
    border-radius: 12px;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;}
.last h1{ color: black;
font-size: 40px;
font-weight: 700;
text-align:center ;}
.last p{color: #627382;
font-weight:400;
text-align: center;}

footer{color: #23874d;
    background-color: #001931;
padding-top: 120px;
padding-left: 120px;
padding-right: 120px;
padding-bottom: 30px;
display: flex;}