
    
.font{
  font-family: "Open Sans", sans-serif;
  font-weight: <weight>;
  font-style: normal;
}
 
 .logo{  height:60px; width:139px;}

nav{display: flex;
    justify-content:space-between;
    padding:16px 120px;
    margin:5px auto;}

 nav .menu{display: flex;
    list-style-type: none;
    gap:30px;
    margin:5px auto;
    text-align: center;
justify-content: space-between;}

   a{text-decoration: none;
    font-weight: bold;
color: #000;}

   .btn{color: white;
    font-weight: bold;
    padding:auto ;
    background-color: rgb(66, 143, 99);
    height: 44px;
    width:164px;
    border: none;
 border-radius: 4px;
 padding:12px,16px;}

   main .banner { 
    background-image:url(../image/hero-bg.png);
    width: 1600px;
    height: 674px;
  background-size:cover;}
 main .banner h1,p{color: white;
    height: 379px;
    width:1360px;
    margin:0 auto;
    text-align: center;
padding:;}
main .banner #button1{color:rgb(66, 143, 99);
    font-weight: bold;
    background-color:white;
    height: 35px;
    width:229px;
    border: none;
 border-radius:1000px;
 padding:12px,16px;
 text-align: center;
align-items: center;}
main .banner #button2{color: white;
    font-weight: bold;
    padding:auto ;
    background-color: rgb(66, 143, 99);
    height:51px;
    width:251px;
    border: none;
 border-radius: 4px;
 padding:12px,16px;}
main .banner #button3{
    color: white;
border-radius: 4px;
background: none; 
border: 2px solid white;
height:51px;
width:230px;} 